_libgcc_mutex==0.1                        
_openmp_mutex==4.5                         
argcomplete==1.12.3
argon2-cffi==20.1.0
async_generator==1.10
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.8.2
blas==1.0
bleach==4.0.0
boost-cpp==1.70.0
brotli==1.0.9
brotlipy==0.7.0
bzip2==1.0.8
c-ares==1.18.1
ca-certificates==2021.10.8
cairo==1.16.0
certifi==2021.10.8
cffi==1.14.5
cfitsio==3.470
chardet==3.0.4
click==8.0.3
click-plugins==1.1.1
clickclick==20.10.2
cligj==0.7.2
coloredlogs==15.0.1
connexion==2.13.0
cryptography==3.1.1
curl==7.80.0
cycler==0.11.0
dbus==1.13.6
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.5.1
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
expat==2.2.10
ffmpeg-python==0.2.0
filelock==3.7.1
fiona==1.8.21
flask==1.1.2
flask-caching==1.10.1
flask-compress==1.11
flask-cors==3.0.10
flask-optimize==0.2.9.8
flask-pymongo==2.3.0
fontconfig==2.13.1
fonttools==4.25.0
freetype==2.10.4
freexl==1.0.6
future==0.18.2
geopandas==0.10.2
geos==3.8.0
geotiff==1.7.0
giflib==5.2.1
glib==2.69.1
greenlet==1.1.2
gst-plugins-base==1.14.0
gstreamer==1.14.0
hdf4==4.2.13
hdf5==1.10.6
htmlmin==0.1.12
huggingface-hub==0.8.1
humanfriendly==10.0
icu==58.2
idna==2.6
imageio==2.19.3
imageio-ffmpeg==0.4.7
importlib-metadata==4.8.1
importlib_metadata==4.8.1
inflection==0.5.1
intel-openmp==2021.4.0
ipykernel==6.4.1
ipython==7.29.0
ipython_genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
jinja2==3.0.2
joblib==0.17.0
jpeg==9d
json-c==0.13.1
jsonschema==3.2.0
jupyter_client==7.0.1
jupyter_core==4.9.1
jupyterlab_pygments==0.1.2
kealib==1.4.14
kiwisolver==1.3.1
krb5==1.19.2
ld_impl_linux-64==2.35.1
libcurl==7.80.0
libdap4==3.19.1
libedit==3.1.20191231
libev==4.33
libffi==3.3
libgcc-ng==9.3.0
libgdal==3.4.1
libgfortran-ng==7.5.0
libgfortran4==7.5.0
libgomp==9.3.0
libkml==1.3.0
libnetcdf==4.8.1
libnghttp2==1.46.0
libpng==1.6.37
libpq==12.9
libsodium==1.0.18
libspatialite==4.3.0a
libssh2==1.9.0
libstdcxx-ng==9.3.0
libtiff==4.2.0
libuuid==1.0.3
libwebp-base==1.2.0
libxcb==1.14
libxml2==2.9.12
libzip==1.8.0
lz4-c==1.9.3
markupsafe==2.0.1
matplotlib==3.4.3
matplotlib-base==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
moviepy==1.0.3
munch==2.5.0
munkres==1.1.4
mysql-connector-python==8.0.29
mysql-connector-python-rf==2.2.2
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
ncurses==6.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.7
notebook==6.4.5
numpy==1.21.2
numpy-base==1.21.2
olefile==0.46
opencv-contrib-python==3.4.2.17
opencv-python==3.4.2.17
openjpeg==2.3.1
openpyxl==3.0.10
openssl==1.1.1m
packaging==21.0
pandas==1.1.3
pandocfilters==1.4.3
parso==0.8.2
pcre==8.45
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.2.0
pip==21.0.1
pipreqs==0.4.11
pixman==0.40.0
poppler==0.89.0
poppler-data==0.4.11
proglog==0.1.10
proj==6.2.1
prometheus_client==0.11.0
prompt-toolkit==3.0.20
protobuf==4.21.2
pthread-stubs==0.4
ptyprocess==0.7.0
py4j==0.10.9.3
pycparser==2.21
pygments==2.10.0
pymongo==3.8.0
pymysql==1.0.2
pyopenssl==19.1.0
pyparsing==3.0.4
pyproj==3.2.1
pyqt==5.9.2
pyrsistent==0.18.0
pysocks==1.7.1
pyspark==3.2.1
python==3.7.11
python-dateutil==2.8.2
python-dotenv==0.12.0
python_abi==3.7
pytube==12.1.0
pytz==2020.1
pywavelets==1.3.0
pyyaml==6.0
pyzmq==22.2.1
qt==5.9.7
readline==8.1
regex==2022.6.2
requests==2.18.4
scikit-image==0.19.3
scikit-learn==0.23.2
scipy==1.7.1
seaborn==0.11.0
send2trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.96
setuptools==58.0.4
shapely==1.7.1
sip==4.19.8
six==1.16.0
soupsieve==2.3.1
sqlalchemy==1.4.39
sqlite==3.37.2
swagger-ui-bundle==0.0.9
terminado==0.9.4
testpath==0.5.0
threadpoolctl==2.1.0
tifffile==2021.11.2
tiledb==2.2.9
tk==8.6.11
tokenizers==0.12.1
torch==1.12.0
torchvision==0.13.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.0
transformers==4.20.1
typing_extensions==3.10.0.2
urllib3==1.22
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.37.0
xerces-c==3.2.3
xlrd==2.0.1
xorg-libxau==1.0.9
xorg-libxdmcp==1.1.3
xz==5.2.5
yarg==0.1.9
zeromq==4.3.4
zipp==3.6.0
zlib==1.2.11
zstd==1.4.9         
